<div class="backdrop" (click)="close.emit()"></div>

<div class="panel">
  <div class="panel-header">
    <div class="title">{{ order.docId ? 'Work Order Details' : 'Create Work Order' }}</div>
    <button class="x" (click)="close.emit()">✕</button>
  </div>

  <div class="panel-body" [formGroup]="form">
    <label>
      Name *
      <input type="text" formControlName="name" placeholder="Order #123" />
    </label>

    <label>
    Work Center *
    <ng-select
        [items]="workCenters"
        bindLabel="data.name"
        bindValue="docId"
        placeholder="Select work center"
        formControlName="workCenterId"
        [clearable]="false"
    >
    </ng-select>
    </label>

    <label>
    Status *
    <ng-select
        [items]="[
        { label: 'Open', value: 'open' },
        { label: 'In Progress', value: 'in-progress' },
        { label: 'Complete', value: 'complete' },
        { label: 'Blocked', value: 'blocked' }
        ]"
        bindLabel="label"
        bindValue="value"
        placeholder="Select status"
        formControlName="status"
        [clearable]="false"
    >
    </ng-select>
    </label>

    <div class="dates">
      <label>
        Start *
        <input
          class="date-input"
          placeholder="yyyy-mm-dd"
          ngbDatepicker
          #startDp="ngbDatepicker"
          formControlName="startDate"
          readonly
          (click)="startDp.toggle()"
        />
      </label>

      <label>
        End *
        <input
          class="date-input"
          placeholder="yyyy-mm-dd"
          ngbDatepicker
          #endDp="ngbDatepicker"
          formControlName="endDate"
          readonly
          (click)="endDp.toggle()"
        />
      </label>
    </div>

    <div class="error" *ngIf="errorMsg">{{ errorMsg }}</div>
  </div>

  <div class="panel-footer">
    <button class="danger" *ngIf="order.docId" (click)="onDelete()">Delete</button>
    <div class="spacer"></div>
    <button class="secondary" (click)="close.emit()">Cancel</button>
    <button class="primary" (click)="onSave()">Save</button>
  </div>
</div>